@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
img {
    width:300px;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    text-align: center;
    font-family: 'Times New Roman';
    background: rgb(14, 0, 45);
    color: rgb(0, 245, 90);
    padding-bottom: 60px;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: double solid ;
}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style:ridge;
    text: size adjust 700px;
}
img{}
h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style:ridge;
    text: size adjust 700px;
}
footer{
    position: fixed;
    bottom:0;
    width:100%;
    padding: 5px 5px;

    background:black;
    color: #f1f1f1;
    font-size: medium;
}